#main {
    color: #555555;
}
input,textarea{
    display: block;
}
form{
    background-color: #FFFFFF;
}
label{
    color: #000000;
}
input::placeholder,textarea::placeholder{
    color: #AAAAAA;
}
.submit{
    background-color: #0096FF;
    color: #FFFFFF;
}
.cancel{
    background-color: #FFFFFF;
    color: #0096FF;
}

h1 {
    font-size: 32px;
}

